@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.navbar-custom, nav ul li .nav-link{
    background-color: #5587c4;
    color: red;
}
nav .navbar-brand{
    font-family: 'Courgette', cursive;
    font-size: 40px;
}
nav .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255 , 0, 0.8)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
nav ul a{
    font-weight: 700;
    font-size: large;
}
.capital{
    text-transform: uppercase;
}
.ltr-space{
    letter-spacing: 2px;
}
.center-block {
    display: table;
    margin: 0 auto;
  }

  .form-position{
      max-width: 70%;
      margin:20px auto;
  }

  
  .contact-send{
      margin-top: 20px;
  }
 
/* --HEADER--END------------------------------------------------------------- */

/* =Hero Imagr= */
.hero{
      width: 100%;
      height: 50vh;
  }

/* ====Footer==== */
footer{
    margin: 0;
   
}
.foot-wrapper{
    padding: 8px;
    background-color: #5587c4;
}
.ft-color{
    background-color: #6796c2;
    color: whitesmoke;
    padding-top:10px;
    border: 1px solid whitesmoke;
    letter-spacing: 2px;
}
 .fab{
    font-size: 25px;
    line-height: 10px;
    text-align: center;
    color: whitesmoke;
}
li a .fab{
    letter-spacing: 20px;
}

footer .fab:hover{
    color:red;
    font-size: 27px;
}
.foot-wrapper h5{
      color: whitesmoke;
}
.foot-wrapper h5:hover,
.foot-wrapper a{
    color:red;
}