@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/* === NavBar==== */
.navbar-custom,
nav ul li .nav-link {
    background-color: #5587c4;
    color: white;
}

nav .navbar-brand {
    font-family: 'Courgette', cursive;

    font-size: 40px;
}

nav .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255 , 255, 255.8)' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav ul a {
    font-weight: 100;
    font-size: large;
}

.capital {
    text-transform: uppercase;
}

.ltr-space {
    letter-spacing: 2px;
}

/* Contact page */
.center-block {
    display: table;
    margin: 0 auto;
}

.form-position {
    max-width: 70%;
    margin: 20px auto;
}


.contact-send {
    margin-top: 20px;
}

/* --HEADER--END------------------------------------------------------------- */

/* =Hero Imagr= */
.hero {
    width: 100%;
    height: 50vh;
}

/* index.html */
.intro-para {
    background-color: #5587c4;
    padding: 8px;
    

}
.intro-para p{
    font-family: 'Courgette', cursive;
    background-color: #f8e118;
    text-align: center;
    font-size: 20px;
    padding:20px;
    color: darkblue;
    border: 2px double white;
    border-radius: 20px;
}
.intro-para-set{
    margin: 0;
}

.famous-places {
    background-color: #6796c2;
    border: 2px double white;
    border-radius: 17px;
    color: white;
    font-family: 'Courgette', cursive;
    text-align: center;
    margin: 0;
    height: 75px;
    padding-top: 15px;
    font-weight: 100;

}

.f-place-bg {
    background-color: #5587c4;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}


img {
    max-width: 130%;
}


.bg-1 {

    padding: 50px;
}


.main {
    background-color: #6796c2;
    border-left: 8px solid #5587c4;
    border-right: 8px solid #5587c4;
    border-bottom: 8px solid #5587c4;
    padding: 50px;
}
 .main img{
    border-radius: 25px;
    border: 2px double white;

} 

.main h5 {
    color: white;
    font-weight: 100;
}
.main .shadow {
  -moz-box-shadow: 10px 10px 5px #000;
  -webkit-box-shadow: 10px 10px 5px #000;
  box-shadow: 10px 10px 5px #000;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
}

.pic-pad {
    padding: 0 0 0 25px;
}

.row .h-pad {
    padding-right: 0;
    padding-left: 16%;
}

.video {
    text-align: center;
    background-color: #6796c2;
    border-left: 8px solid #5587c4;
    border-right: 8px solid #5587c4;
   
}

/* ======Discover========= */
.para-bg{
    background-color: #6796c2;
    color:white;
    text-align: center;
    height: 50px;
    padding-top: 15px;
}
.button-bg {
    background-color: #5587c4;
    padding:4px
}

.btn-bundle {
    background-color: #6796c2;
    text-align: center;
    word-spacing: 100px;
    margin:4px ;
    padding: 30px 10px;
}

.btn-disc {
    font-family: 'Courgette', cursive;
    background-color: rgb(248, 224, 8);
    border: 1px solid #000;
    color: rgba(8, 32, 245, 0.945);
    height: 40px;
    width: 180px;
    margin-bottom: 3px;
}

.btn-disc-icon {
    margin-right: 5px;
}



/* =====Map========= */
#map {
    height: 400px;
}

/* ====Footer==== */
footer {
    margin: 0;

}

.foot-wrapper {
    padding: 8px;
    background-color: #5587c4;
}

.ft-color {
    background-color: #6796c2;
    color: white;
    padding-top: 10px;
    border: 1px solid white;
    letter-spacing: 2px;
}

.fab {
    font-size: 25px;
    line-height: 10px;
    text-align: center;
    color: white;
}

li a .fab {
    letter-spacing: 20px;
}

footer .fab:hover {
    color: red;
    font-size: 27px;
}

.foot-wrapper h5 {
    color: white;
    font-weight: 100;
}

.foot-wrapper h5:hover,
.foot-wrapper a {
    color: red;
}

.copyright p {
    font-weight: 100;
}

/* ===map.js=== */
.info-name{
    font-family: 'Courgette', cursive;
    background-color:rgb(248, 224, 8);
    color: rgba(8, 32, 245, 0.945);
    font-weight: 100;
    padding: 10px;
    border-top: 1px solid black;
    border-left:1px solid black;
    border-right: 1px solid black;
    margin:0;
}

.cat{
    background-color:rgb(248, 224, 8);
    color: rgba(8, 32, 245, 0.945);
    font-weight: 100;
    padding: 10px;
    border-left:1px solid black;
    border-right: 1px solid black;
    margin: 0;
    
}

.rating{
    background-color:rgb(248, 224, 8);
    color: rgba(8, 32, 245, 0.945);
    font-weight: 200;
    padding: 10px;
    margin: 0;
    border-left:1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

  .web{
    background-color:#f8e118;
    font-weight: 100;
    padding: 10px;
    border-left:1px solid black;
    border-right: 1px solid black;
    margin: 0;
  }
  @media screen and (max-width:790px) {
    
   .para-bg {
      height: 80px;
      margin: 0;
  }
}
  


@media screen and (max-width:465px) {
    .f-place-bg .famous-places {
        height: 100px;
        padding-top: 8px;
    }
   .para-bg {
      height: 100px;
      margin: 0;
  }
}

@media screen and (max-width:350px) {
    .f-place-bg .famous-places {
        height: 100px;
        padding-top: 8px;
    }

  nav .navbar-brand{
      font-size: 22px;
  }  
  

}

